%h1 Busses

%ul.nav.nav-tabs
  %li.active
    %a{:href => "#ipad", "data-toggle" => "tab"} For iPad
  %li
    %a{:href => "#iphone", "data-toggle" => "tab"} For iPhone

.tab-content
  .tab-pane.active#ipad
  .tab-pane#iphone
