<h3>See location of your bus on the map</h3>
<img src="/assets/Screenshot_with_agency_picker.jpg">
<h4> Select your transportation agency and route using pickers </h4>

<p>
Available agencies (US and Canada only):
<div id="available_agencies"></div>
</p>

<h4> After selecting your transportation agency you can remove agency picker form view using user preferences</h4>
<img src="/assets/Screenshot_with_user_prefs.jpg">

...and the map will look like this:
<img src="/assets/Screenshot_without_agency_picker.jpg">

<h4>Why can I refresh only every 10 seconds?</h4>
The <a href="http://www.nextbus.com">data provider</a> allows to submit requests only once every 10 seconds.

<div id="footer-spacer"></div>
<div id="footer">
  &copy; 2012 Dmitri Khrebtukov
</div>
