<h3>See location of your bus on the map</h3>
<img src="/assets/route_view.png">
<h4> Click route number button to select your transportation agency and route using pickers </h4>
<img src="/assets/pickers_view.png">

<p>
Available agencies (US and Canada only):
<div id="available_agencies"></div>
</p>

<br />

<h4>Why can I refresh only every 10 seconds?</h4>
The <a href="http://www.nextbus.com">data provider</a> allows to submit requests only once every 10 seconds.

<div id="footer-spacer"></div>
<div id="footer">
  &copy; 2012 Dmitri Khrebtukov
</div>
