<h3>See location of your bus on the map</h3>
<img src="/assets/images/Screenshot_with_agency_picker.png">
<h4> Select your transportation agency and route using pickers </h4>

Available agencies (US and Canada only):
<div id="available_agencies"></div>

<h4> After selecting your transportation agency you can remove agency picker form view using user preferences
<img src="/assets/images/Screenshot_with_user_prefs.png">

...and the map will look like this:
<img src="/assets/images/Screenshot_without_agency_picker.png">


